*.pyc
*.dylib
*.o
*.os
*.pyc
*.so
.sconsign.dblite
config.log
.sconf_temp
doc/htmlDir
doc/doxygen.conf
examples/imageIo
examples/imageRgb
python/lsst/afw/*.pyc
python/lsst/afw/extensions/*.pyc
python/lsst/afw/extensions/rgb/rgbLib.py
python/lsst/afw/extensions/rgb/*_wrap.*
python/lsst/afw/extensions/rgb/*.pyc
python/lsst/afw/extensions/rgb/version.py
src/*.os
tests/.tests
ups/*.cfgc
